$secondary-wing: #262626;
$crown: #ff0000;
$back-ground-white: #ffffff;
$sky: #bae8ff;
$condor-body: #1b1918;
$secondary-color: #666666;
$eye: #000000;
$beak: #fae3b8;

body {
    background-color: $sky;
    margin: 0px;
    padding: 0px;
}

.sky {
    &__cloud {
        background-color: $back-ground-white;
        height: 35px;
        width: 120px;
        border-radius: 120px;
        position: absolute;
        z-index: -3;
        top: 150px;
        right: -130px;

        &:before {
            position: absolute;
            content: "";
            background-color: $back-ground-white;
            height: 65px;
            width: 65px;
            border-radius: 50%;
            bottom: 10px;
            left: 15px;
        }

        &:after {
            position: absolute;
            content: "";
            background-color: $back-ground-white;
            height: 45px;
            width: 45px;
            border-radius: 50%;
            bottom: 10px;
            right: 10px;
        }

        &--cloud1 {
            top: 240px;
            animation: cloud 10s 18px infinite linear;
        }

        &--cloud2 {
            top: 160px;
            animation: cloud 10s infinite linear;
        }

        &--cloud3 {
            top: 60px;
            animation: cloud 10s 5s infinite linear;
        }

        &--cloud4 {
            top: 300px;
            animation: cloud 10s 12s infinite linear;
        }

        @keyframes cloud {
            100% {
                transform: translateX(calc(-100vw));
            }
        }
    }
}

.bird {
    // background-color: $secondary-wing;
    // height: 115px;
    // width: 100px;
    position: absolute;
    top: 35%;
    left: 55%;
    // border-radius: 100px 100px 0px 0px;
    animation: fly 2s infinite;

    &__head{
        background-color: $secondary-wing;
        height: 115px;
        width: 100px;
        position: absolute;
        border-radius: 100px 100px 0px 0px;
    }
    &__crown {
        background-color: $crown;
        height: 15px;
        width: 80px;
        border-radius: 250px 250px 200px 200px;
        position: relative;
        top: -12px;
        left: 10px;
    }

    &__neck {
        background-color: $back-ground-white;
        height: 25px;
        width: 125px;
        border-radius: 250px 250px 200px 200px;
        position: relative;
        top: 80px;
        left: -10px;
    }

    &__body {
        background-color: $condor-body;
        height: 100px;
        width: 200px; //para su cuerpo
        position: relative;
        top: 80px;
        right: 100px;
        border-radius: 0px 15px 200px 200px;
    }

    &__tail {
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 80px solid $secondary-color;
        position: relative;
        right: 155px;
        bottom: 35px;
        transform: rotate(-120deg);
    }

    &__eye {
        background-color: $back-ground-white;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: relative;
        bottom: 180px;
        left: 60px;

        &__eyeball {
            background-color: $eye;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: relative;
            top: 4px;
            left: 4px;
        }
    }

    &__beak {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 30px solid $beak;
        position: relative;
        bottom: 180px;
        left: 100px;
    }

    &__wing {
        background-color: $secondary-wing;
        height: 85px;
        width: 200px;
        border-radius: 0px 0px 170px 170px;
        position: relative;
        bottom: 140px;
        right: 120px;
        animation: flap 1s infinite;
        transform-origin: right;

        &__feathers {
            background-color: $secondary-color;
            height: 70px;
            width: 140px;
            border-radius: 0px 0px 120px 120px;
            position: relative;
            left: 15px;
        }
    }

    @keyframes flap {
        50% {
            transform: rotate(20deg);
        }
    }
}

@keyframes fly {
    50% {
        transform: translateY(50px);
    }
}